.input {
  padding-bottom: 35px;
  position: relative;
}

.input--login {
  padding: 0;
}

.input__spotifyURI {
  border: 0;
  height: 50px;
  outline: none;
  padding: 0 10px;
  width: 100%;
}

.input__button {
  background: #ef9783;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin: 15px 0 0;
  outline: none;
  padding: 12px 20px;
  -webkit-appearance: none;
}

.input__button:hover {
  text-decoration: underline;
}

.input__button--login {
  color: black;
  margin: 0;
  text-decoration: none;
}

.input__button--disabled {
  opacity: 0.4;
  cursor: auto;
}

.input__button--disabled:hover {
  text-decoration: none;
}

.info__text {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 12px;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: underline;
}

.input__field {
  background: #fff;
  font-size: 16px;
  position: relative;
}

.input__cross {
  border: none;
  background: none;
  cursor: pointer;
  height: 32px;
  opacity: 0.3;
  right: 0;
  position: absolute;
  top: 70px;
  width: 32px;
}
.input__cross:hover {
  opacity: 1;
}
.input__cross:before, .input__cross:after {
  background-color: #333;
  content: ' ';
  height: 33px;
  left: 15px;
  position: absolute;
  top: 0;
  width: 2px;
}
.input__cross:before {
  transform: rotate(45deg);
}
.input__cross:after {
  transform: rotate(-45deg);
}
