.notification {
  background: #7fd48a;
  height: 40px;
  position: fixed;
  width: 100%;
}

.notification--show {
  bottom: 0;
  -moz-transition: bottom 0.1s ease-in-out;
  -webkit-transition: bottom 0.1s ease-in-out;
  transition: bottom 0.1s ease-in-out;
}

.notification__text {
  color: #fff;
  font-size: 14px;
  line-height: 40px;
  margin: 0 auto;
  padding-left: 10px;
  text-align: left;
  width: 320px;
}
